<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5">Editar Proveedor</h1>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <form
      action="{% url 'editar_proveedor' object.id_proveedor %}"
      method="post"
      enctype="multipart/form-data"
      id="myFormEditProveedor">

      <div class="modal-body">
        {% csrf_token %}

        <div class="d-flex gap-2">
          <p class="w-50">
            {{ form.run_proveedor.label_tag }}
            {{ form.run_proveedor }}
            {% if form.run_proveedor.errors %}
              {% for error in form.run_proveedor.errors %}
                <strong>{{ error }}</strong>
              {% endfor %}
            {% endif %}
          </p>
          <p class="w-50">
            {{ form.nombre_proveedor.label_tag }}
            {{ form.nombre_proveedor }}
            {% if form.nombre_proveedor.errors %}
              {% for error in form.nombre_proveedor.errors %}
                <strong>{{ error }}</strong>
              {% endfor %}
            {% endif %}
          </p>
        </div>

        <p>
          {{ form.razon_social.label_tag }}
          {{ form.razon_social }}
          {% if form.razon_social.errors %}
            {% for error in form.razon_social.errors %}
              <strong>{{ error }}</strong>
            {% endfor %}
          {% endif %}
        </p>

        <p>
          {{ form.correo_proveedor.label_tag }}
          {{ form.correo_proveedor }}
          {% if form.correo_proveedor.errors %}
            {% for error in form.correo_proveedor.errors %}
              <strong>{{ error }}</strong>
            {% endfor %}
          {% endif %}
        </p>

        <div class="d-flex gap-2">
          <p class="w-50">
            {{ form.contacto.label_tag }}
            {{ form.contacto }}
            {% if form.contacto.errors %}
              {% for error in form.contacto.errors %}
                <strong>{{ error }}</strong>
              {% endfor %}
            {% endif %}
          </p>
          <p class="w-50">
            {{ form.telefono_proveedor.label_tag }}
            {{ form.telefono_proveedor }}
            {% if form.telefono_proveedor.errors %}
              {% for error in form.telefono_proveedor.errors %}
                <strong>{{ error }}</strong>
              {% endfor %}
            {% endif %}
          </p>
        </div>

        <p>
          {{ form.direccion.label_tag }}
          {{ form.direccion }}
          {% if form.direccion.errors %}
            {% for error in form.direccion.errors %}
              <strong>{{ error }}</strong>
            {% endfor %}
          {% endif %}
        </p>

        <div class="d-flex gap-2">
          <p class="w-50">
            {{ form.giro_FK.label_tag }}
            {{ form.giro_FK }}
            {% if form.giro_FK.errors %}
              {% for error in form.giro_FK.errors %}
                <strong>{{ error }}</strong>
              {% endfor %}
            {% endif %}
          </p>
          <p class="w-50">
            {{ form.rubro_FK.label_tag }}
            {{ form.rubro_FK }}
            {% if form.rubro_FK.errors %}
              {% for error in form.rubro_FK.errors %}
                <strong>{{ error }}</strong>
              {% endfor %}
            {% endif %}
          </p>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" value="Editar Proveedor" class="btn btn-success">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
