<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5">Agregar Cliente</h1>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <form
      action="{% url 'agregar_cliente' %}"
      method="post"
      enctype="multipart/form-data"
      id="myFormClient"
    >
      <div class="modal-body">
        {% csrf_token %} 
        {{ form.as_p }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" value="Agregar Cliente" class="btn btn-primary">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
