<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="carritoModal">Carrito de compra</h1>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close">
      </button>
    </div>
    <div class="modal-body" id="carrito-modal-body"></div>
    <div class="modal-footer d-flex justify-content-between">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Close
      </button>
      <div id="carrito-btn" class="none">
        <button type="button" class="btn btn-danger" onclick="vaciarCarrito()">
          Vaciar
        </button>
        <a href="{% url 'Ventas' %}" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
</div>
