<div
  class="modal fade"
  id="cantidadModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Cantidad</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close">
        </button>
      </div>
      <div class="modal-body d-flex gap-2">
        <input type="number" class="form-control" id="IntCantidad" style="flex: 4;" />
        <select class="form-select" aria-label="Default select example" id="mediaSelect" style="flex: 1;">
          <option selected value="1" >Gr</option>
          <option value="2">Kg</option>
        </select>
      </div>
      <div class="modal-footer">
        <button
          id="closeModalCantidad"
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          onclick="closeCantidadModal()">
          Agregar
        </button>
      </div>
    </div>
  </div>
</div>
