{% extends "components/Layout/base.html" %} 
{% load static %} 

{% block head %}

  <h1 class="h2">Configuraciones</h1>
  <div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true"></div>

{% endblock %}

{% block content %}

  <div class="d-grid gap-4 align-items-start contenedorCard-setting">
    <div class="card cardEmpresa">
      <img
      {% if empresa.image %}
        src="{{ empresa.image.url }}"
      {% else %} 
        src="{% static 'img/pngwing.com.webp' %}"
      {% endif %}
      class="card-img-top m-auto mt-3 rounded-circle"
      alt="icono-empresa"
      />
      <div class="card-body">
        <h5 class="card-title">Datos de la Empresa:</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{empresa.nombre_empresa}}</li>
        <li class="list-group-item">{{empresa.rut_empresa}}</li>
        <li class="list-group-item">Razón Social: {{empresa.razon_social}}</li>
        <li class="list-group-item">Actividad Económica: {{empresa.actividad_economica}}</li>
        <li class="list-group-item">
          {{empresa.comuna}} : {{empresa.direccion_empresa}}
        </li>
      </ul>

      <div class="card-footer">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form_empresa.as_p}}
          <button
            type="submit"
            class="btn btn-primary"
            name="submit_form_empresa">
            Guardar Datos del Local
          </button>
        </form>
      </div>
    </div>

    <div>
      <div class="card cardCategoria mb-4">
        <div class="card-body">
          <h5 class="card-title">Agregar Categoría:</h5>
        </div>
        <div class="card-footer">
          <form method="POST">
            {% csrf_token %} 
            {{ form_categoria.as_p }}
            <button
              type="submit"
              class="btn btn-primary"
              name="submit_form_categoria">
              Guardar Categoría
            </button>
          </form>
        </div>
      </div>
    
      <div class="card cardCategoria mb-4">
        <div class="card-body">
          <h5 class="card-title">IVA y Margen Global:</h5>
        </div>
        <div class="card-footer">
          <form method="POST">
            {% csrf_token %} 
            {{ form_impuesto.as_p }}
            <button
              type="submit"
              class="btn btn-primary"
              name="submit_form_impuesto">
              Guardar Cambios
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
