{% extends "components/Layout/base.html" %} 
{% load static %}

{% block head %}

<h1 class="h2">Proveedores</h1>
{% include 'components/include/buscador.html' %}
<div class="btn-toolbar mb-2 mb-md-0">
  <button
    type="button"
    class="btn btn-primary"
    onclick="abrir_modal_add_proveedor('{% url 'agregar_proveedor' %}')"
  >
    Agregar
  </button>
</div>

{% endblock %}

{% block content %}

{% if object_list %}

<div class="overflow-x-auto">
  <table class="table table-striped table-hover mt-4">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>RUT</th>
        <th>Razón Social</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for proveedor in object_list %}
      <tr class="align-middle">
        <td>{{proveedor.nombre_proveedor}}</td>
        <td>{{proveedor.run_proveedor}}</td>
        <td>{{proveedor.razon_social}}</td>
        <td>{{proveedor.correo_proveedor}}</td>
        <td>{{proveedor.telefono_proveedor}}</td>
        <td>
          <div class="d-flex gap-2">
            <button
              class="btn btn-outline-success d-flex"
              onclick="abrir_modal_edit_proveedor('{% url 'editar_proveedor' proveedor.id_proveedor %}')">
              <i class="bi bi-pencil-square"></i>
            </button>
            <button
              class="btn btn-outline-danger d-flex"
              onclick="eliminar_proveedor({{ proveedor.id_proveedor }}, '{{ proveedor.run_proveedor }}')">
              <i class="bi bi-trash3"></i>
            </button>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% include 'components/include/paginador.html' %}

<div
  class="modal fade"
  id="editModalProveedor"
  tabindex="-1"
  aria-hidden="true"
></div>

{% else %}

<strong>NO HAY REGISTROS</strong>

{% endif %}

<div
  class="modal fade"
  id="addModalProveedor"
  tabindex="-1"
  aria-hidden="true"
></div>

{%endblock %} 

{% block script %}

<script defer src="{% static 'js/autoFocus.js' %}"></script>

{% endblock %}
